@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");

/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'General Sans', sans-serif; */
/* font-family: 'Bai Jamjuree', sans-serif; */

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #ff0080; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Radio de los bordes del pulgar */
}

/* Cambiar el color del fondo de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: #000000; /* Color del fondo */
}

body {
  overflow-x: hidden;
}

.navbar_name {
  font-family: "Clash Display", sans-serif;
  font-weight: 900;
}
