@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");

/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'General Sans', sans-serif; */
/* font-family: 'Bai Jamjuree', sans-serif; */

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Radio de los bordes del pulgar */
}

/* Cambiar el color del fondo de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: #000000; /* Color del fondo */
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_name {
  font-family: "Clash Display", sans-serif;
  font-weight: 900;
}

.title_hero {
  font-family: "Clash Display", sans-serif;
  font-size: 140px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.logo {
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.about_title {
  font-family: "Clash Display", sans-serif;
  font-size: 50px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
